$black: #000000;
$white: #ffffff;
$grey: #a8a8a8;
$spaceCadet: #3D315B;
$blue: #444B6E;
$green: #708B75;
$olivine: #9AB87A;
$yellow: #F8F991;
$lightYellow: #f1f1a5;

//Partidas

$p_cinza1: #2b2b2b;
$p_cinza2: #9b9b9b;
$p_verde1:#006431;
$p_verde2:#009132; 
$p_vermelho: #cc2612;
$p_vermelho2: #ff0006;
$p_vermelho3: #a3253a;
$p_preto: #000000;
$p_branco: #ffffff;
$p_azul: #0451a2;
$p_azul2: #0081c3;
$p_azul3: #070064;
$p_amarelo: #fdd116;
