@use 'font';
@use 'colors';

.confronto {
    margin: 0;
    padding-left: 20vw;
    padding-right: 20vw;
    min-height: 100vh;
    background-color: colors.$spaceCadet;
}

@media only screen and (max-width: 767px) {
    .confronto {
        margin: 0;
        padding-left: 7.5vw;
        padding-right: 7.5vw;
    }
}