@use 'font';
@use 'colors';

.header {
    position: relative;
    padding-top: 4vh;
    margin-bottom: 4vh;

    .header__home {
        position: absolute;
        left: 0;
        top: 20%;

        .header__home__icon {
            color: colors.$blue;
            font-size: 2vw;

            &:hover {
                color: colors.$blue;
            }
        }

    }

    .header__link {
        text-decoration: none;
    }

    .header__title {
        margin-top: 0;
        margin-bottom: 1vh;
        font-family: sporty-pro-inline, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 2.25vw;
        text-align: center;
        color: colors.$spaceCadet;
        user-select: none;
    }

    .header__subtitle {
        margin-top: 0;
        margin-bottom: 1vh;
        font-weight: 700;
        font-style: normal;
        font-size: 1.25vw;
        text-align: center;
        color: colors.$blue;
        user-select: none;
    }
}

.header--alternate {

    .header__home {
        .header__home__icon {
            color: colors.$lightYellow;
            font-size: 2vw;
    
            &:hover {
                color: colors.$white;
            }
        }
    }
    
    .header__title {
        color: colors.$lightYellow;
    }

    .header__subtitle {
        color: colors.$yellow;
    }
}

@media only screen and (max-width: 767px) {

    .header {
        padding-top: 10vh;
        margin-bottom: 6vh;

        .header__home {
            left: 0;
            top: 12.5%;
    
            .header__home__icon {
                color: colors.$white;
                font-size: 4vh;
    
                &:hover {
                    color: colors.$white;
                }
            }
    
        }
    
        .header__title {
            margin-top: 0;
            margin-bottom: 3vh;
            font-size: 9vw;
        }
    
        .header__subtitle {
            margin-top: 0;
            margin-bottom: 1vh;
            font-size: 4vw;
        }
    }

}