@use 'font';
@use 'colors';

.header {
    padding-top: 6vh;
    margin-bottom: 4vh;

    .header__title {
        margin-top: 0;
        margin-bottom: 1vh;
        font-family: sporty-pro-inline, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 2.25vw;
        text-align: center;
        color: colors.$spaceCadet;
    }

    .header__subtitle {
        margin-top: 0;
        margin-bottom: 1vh;
        font-weight: 700;
        font-style: normal;
        font-size: 1.25vw;
        text-align: center;
        color: colors.$blue;

    }
}

@media only screen and (max-width: 767px) {

    .header {
        padding-top: 10vh;
        margin-bottom: 6vh;
    
        .header__title {
            margin-top: 0;
            margin-bottom: 3vh;
            font-size: 9vw;
        }
    
        .header__subtitle {
            margin-top: 0;
            margin-bottom: 1vh;
            font-size: 4vw;
        }
    }

}