@use 'font';
@use 'colors';

.menu {
    padding-top: 4vh;
    padding-bottom: 6vh;

    .menu__title {
        margin: 0;
        font-family: sporty-pro-inline, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 1.75vw;
        color: colors.$olivine; 
        user-select: none;
    }

    .menu__link {
        display: block;
        padding: 0.5vw;
        border-radius: 0.5vw;
        background-color: colors.$olivine;
        color: colors.$spaceCadet;
        text-decoration: none;
        text-align: center;

        &:hover {
            background-color: colors.$yellow;
        }
    }
}