@use 'font';
@use 'colors';

.menu {
    padding-top: 4vh;
    padding-bottom: 6vh;

    .menu__title {
        margin: 0;
        font-family: sporty-pro-inline, sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 1.75vw;
        color: colors.$olivine; 
        user-select: none;
    }

    .menu__refresh {
        display: block;
        padding: 0.5vw;
        border-radius: 0.5vw;
        background-color: colors.$olivine;
        color: colors.$spaceCadet;
        text-decoration: none;
        text-align: center;
        font-size: 1vw;
        cursor: pointer;

        &:hover {
            background-color: colors.$yellow;
        }
    }
}

@media only screen and (max-width: 767px) {


    .menu {
        padding-top: 4vh;
        padding-bottom: 6vh;
    
        .menu__title {
            margin: 0;
            font-size: 6vw;
            text-align: center;
        }
    
        .menu__refresh {
            padding: 1.5vw;
            margin-top: 1vh;
            border-radius: 2vw;
            font-size: 3.5vw;

            &:hover {
                background-color: colors.$olivine
            }
        }
    }

}