@use 'font';
@use 'colors';

.times {
    padding: 0.5vw;
    padding-top: 2vw;
    border-radius: 0.5vw;
    background-color: colors.$lightYellow;
    box-shadow: 0.25vw 0.25vw 0.25vw 0.25vw colors.$spaceCadet;

    .times__lista {
        display: flex;
        flex-wrap: wrap;
        padding-left: 2vw;
        padding-right: 2vw;

        .times__lista__time {
            width: 10%;
            text-align: center;

            .times__lista__time__img {
                display: inline-block;
                width: 75%;
                height: auto;
                cursor: pointer;
                margin-bottom: 2vh;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(0.8);
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .times {
        padding: 3vw;
        padding-top: 6vw;
        border-radius: 2vw;
        box-shadow: 1vw 1vw 1vw 1vw colors.$spaceCadet;
    
        .times__lista {
            padding-left: 0;
            padding-right: 0;
    
            .times__lista__time {
                width: 20%;
    
                .times__lista__time__img {
                    margin-bottom: 2vh;
                    transition: none;
    
                    &:hover {
                        transform: none;
                    }
                }
            }
        }
    }

}