@use 'font';
@use 'colors';

.times {
    padding: 0.5vw;
    padding-top: 2vw;
    border-radius: 0.5vw;
    background-color: colors.$yellow;
    box-shadow: 0 0.5vw 0.5vw 0 colors.$spaceCadet;

    .times__lista {
        display: flex;
        flex-wrap: wrap;
        padding-left: 2vw;
        padding-right: 2vw;

        .times__lista__time {
            width: 10%;
            text-align: center;

            .times__lista__time__img {
                display: inline-block;
                width: 75%;
                height: auto;
                cursor: pointer;
                margin-bottom: 2vh;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(0.8);
                }
            }
        }
    }
}